.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #5e72e4;
    border-color: #5e72e4;
  }
  
  .custom-control-input:not(:checked) ~ .custom-control-label::before {
    background-color: #f8f9fe;
    border-color: #dee2e6;
  }
  
  .custom-control-label::before {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
  }
  