<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Mon Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-salaire">Add Salaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list-salaire">List Salaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/conge-list">List Conge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/demande-conge">Demande Conge</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashbord">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/other">Other Component</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
